.left-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: -150px;
  }
  
  .left-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 16px;
  }
  
  .left-list li {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    
  }
  .title-item {
    font-weight: bold; 
    font-size: 20px; 
    margin-bottom: 16px; 
  }
  .right-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: -150px;
    margin-top: -365px;
  }
  
  .right-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 16px;
  }
  
  .right-list li {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
  }
  

  .title-frigo {
    font-weight: bold; 
    font-size: 20px; 
  }
  .bottom-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 115px;
    width: 100%;
  }
  
  ion-card {
    margin-top: 75px; 
  }
  .add-ion-fab-button {
    width: 15px; 
    height: 15px; 
    margin-left: 60px;
  }

  .reduce-ion-fab-button {
    width: 15px; 
    height: 15px; 
    margin-left: 80px;
  }

  .delete-ion-fab-button {
    width: 15px; 
    height: 15px; 
    margin-left: -30px;
  }
  
  .bottom-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  
  