<ion-content [fullscreen]="true">
  <ion-header class="sticky">
    <ion-toolbar>
      <ion-title size="large">Mon frigo</ion-title>
      <ion-buttons slot="end">
        <app-profil></app-profil>
        <app-cuisinkoala></app-cuisinkoala>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card>
  <div class="left-list">
    <ul>
      <li class="title-item">Aliments</li><br><br><br>
      <li>Lait</li>
      <li>Oeufs</li>
      <li>Beurre</li>
      <li>Fromage</li>
      <li>Pâtes</li>
      <li>Riz</li>
      <li>Tomates</li>
      <li>Poulet</li>
      <li>Crème fraiche</li>
    </ul>
  </div>
  <div class="right-list">
    <ul>
      <li class="title-item">Quantité</li><br><br><br>
      <li>1 L</li>
      <li>3</li>
      <li>400 g</li>
      <li>200 g</li>
      <li>1,5 kg</li>
      <li>1 kg</li>
      <li>300 g</li>
      <li>260 g</li>
      <li>50 cl</li>
    </ul>
  </div>
</ion-card>
  <div class="bottom-center">
      <ion-button expand="block" routerLink="/modification">
        <ion-icon slot="start" src="assets/icon/Edit.svg"></ion-icon>
        Modifier
      </ion-button>
  </div>

</ion-content>
