<ion-content [fullscreen]="true">

  
<ion-header class="sticky">
  <ion-toolbar>
    <ion-title size="large">Accueil</ion-title>
    <ion-buttons>
      <app-profil></app-profil>
      <app-cuisinkoala></app-cuisinkoala>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<h1>Plats du jour</h1>
<app-card></app-card>


  <ion-list>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="heart" slot="start"></ion-icon>
      <ion-label>Recettes favorites</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
